body{
    margin: 0;
}

.top-section{
    background-color: #1F2937;
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: auto;
}

.hero{
    width: 60vw;
    margin: auto;
    padding: 64px 0;
    display: flex;
}

img{
    width: 700px;
    height: auto;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 18px;
}